@import url('https://fonts.googleapis.com/css?family=Popins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:'Poppins', sans-sarif;
}
@media (max-width: 2000px)
.header {
    flex-wrap: nowrap;
}
.col1{
  background-color: lightblue;
}
.col1 #header{
  margin-left: 35px;
}
.col1 #project{
	font-size:20px;
}
a{outline:none; text-decoration:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
body {
    position: relative;
    background-color:white;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
}

li {
  float: left;
  margin-left:200px;
  }

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.abstract{
    border: 1px solid white;
    height: 380px;
    width: 1330px;
    border-radius: 30px;
    background-color: grey;
}

.textbox{
	margin-left: 20px;
	border: 2px solid black;
	outline:none;
	padding:10px;
	border-radius:25px;
	}
	

	.button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    transform-style: preserve-3d;
    border-bottom-width: 4px;
    font-size: 20px;
    margin-left:20px;
}

.button1{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    transform-style: preserve-3d;
    border-bottom-width: 4px;
    font-size: 20px;
    margin-left:20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.col3{
	width:1426px;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
}

.col3 .card{
	position: relative;
	width:300px;
	height:400px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px;
	box-shadow:0 20px 50px rgba(0,0,0,0.2);
	overflow: hidden;
}
.containter:hover .card{
	opacity:0.2;
}
.col3 .card:hover{
	opacity:1;
}
.col3 .card:before{
	content:'';
	position: absolute;
	top: 100px;
	left:20px;
	bottom: 2px;
	width: 50%;
	background:rgba(255,255,255,0.1);
	pointer-events:none;
}
.content .card .content{
	padding: 10px;
	
}
.col3 .card .content h2{
	position : absolute;
	right:30px;
	font-size: 4em;
	font-weight:800;
	color:#1779ff;
	z-index:1;
	opacity:0.6;
	transition: 0.5s;
}

.col3 .card:hover .content h2{
	opacity: 1;
	transform: translateY(-70px);
}

.col3 .card .content h3{
	position : relative;
	font-size: 1.5em;
	color: white;
	z-index:2;
	opacity:0.5;
	letter-spacing: 1px;
	transition:0.5s;
}

.col3 .card .content p{
	position : relative;
	font-size: 1em;
	color:yellow;
	z-index:2;
	opacity:0.5;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
}
.col3 .card:hover .content h3, .col3 .card:hover .content p{
	opacity:1;
}
.col3 .card .content a{
	display:inline-block;
	position:relative;
	margin-top:25px;
	padding: 8px 15px;
	background: #fff;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
.col3 .card span{
	transition: 0.5;
	opacity:0;
}
.col3 .card:hover span{
	opacity: 1;

}
.col3 .card span:nth-child(1){
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:3px;
	background: linear-gradient(to right, transparent,#1779ff);
	animation: animate1 2s linear infinite;
}
@keyframes animate1{
	0%
	{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
.col3 .card span:nth-child(2){
	position:absolute;
	top:0;
	right:0;
	width:3px;
	height:100%;
	background: linear-gradient(to bottom, transparent,#1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2{
	0%
	{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}
.col3 .card span:nth-child(3){
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:3px;
	background: linear-gradient(to left, transparent,#1779ff);
	animation: animate3 2s linear infinite;
	
}
@keyframes animate3{
	0%
	{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
.col3 .card span:nth-child(4){
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background: linear-gradient(to top, transparent,#1779ff);
	animation: animate4 2s linear infinite;
}
@keyframes animate4{
	0%
	{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}

.abstract table{
    border: 1px;
}
.abstract th {
    color:#D5DDE5;;
    background:beige;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    font-weight: 100;
    padding:10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.abstract tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 10px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    /*font-weight:normal;*/
    /*text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);*/
}
.abstract td {
    padding:5px;
    text-align: center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
}
@media screen and (max-width: 1060px ) {
    .col1 { width:100%;}
    .col3 { width:100%;}
    .col2{ width:100%; }

}
@media screen and (max-width: 768px) {
    .col1 { width:100%;}
    .col2,.col3 { width:100%; margin:0; border:none; }
}
